@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model QuanLyKhachSan.Models.Loaiphong

@{
    ViewData["Title"] = "SuaLoaiPhong";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}

<h1 class="centered-bold-purple">Sửa Thông Tin Loại Phòng</h1>

<h4>Thông tin loại phòng cần sửa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SuaLoaiPhong">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdLp" />
            <div class="form-group">
                <label asp-for="TenLp" class="control-label"></label>
                <input asp-for="TenLp" class="form-control" />
                <span asp-validation-for="TenLp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaLp" class="control-label"></label>
                <input asp-for="GiaLp" class="form-control" />
                <span asp-validation-for="GiaLp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTaLp" class="control-label"></label>
                <input asp-for="MoTaLp" class="form-control" />
                <span asp-validation-for="MoTaLp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cập nhật" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Manage" asp-action="QLLoaiPhong">Về trang chủ Quản Lý Loại Phòng</a>
</div>